.py[cod]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
# Poetry
poetry.lock
.poetry/
.venv/

# PDM (old)
.pdm-python
pdm.lock

#BLPrivateTestFiles
bl_testapikeytesting.py
OLD_bl_testapikeytesting.py

#Folders for storing JSON files of test classes
current_classes/*.json
potential_classes/*.json
